.wsu_crimson {
    color: #A60F2D
}

.wsu_grey {
    color: #4D4D4D
}

.crimson_background {
    background-color: #A60F2D;
}

.sidebar {
    height: 100%;
    width: 300px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #A60F2D;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
    font-size: 25px;
    font-family: 'Comic Sans MS', cursive;
}

.sidebar progress {
    accent-color: #4D4D4D;
}

.sidebar a{
    
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Comic Sans MS', cursive;
}

.sidebar a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 100%;
}


.white_backgroud {
    background-color: white;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 500px;
    width: 400px;
    font-size: 25px;
    font-family: 'Comic Sans MS', cursive;
}

.box form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.box a {
    color:#A60F2D
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.fill {
    height: 100%;
}


