.Item{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: red;
    flex-direction: column;
    width: 150px;
    border: 5px black solid;
    padding: 10px
}

.itemTitle{
    font-weight: bold;
    font-size: large;
    display: inline;
}

.itemIcon{
    padding: 2px;
    border: 1px black solid;
    margin-top: 5px;
    margin-bottom: 5px;

}

.itemIcon{
    width: 66%;    
}