<div class="lentil-container">
    <div style="display:flex; flex-direction: column; align-items: center;">
        <img src="images/farmerbutch.png">
        <h2 id="speak">How many lentils do I have??</h2>
    </div>
    <div class="lentil-grid" id="lentil-grid">
        <div class="grid-item" id="a1"></div>
        <div class="grid-item" id="a2"></div>
        <div class="grid-item" id="a3"></div>
        <div class="grid-item" id="a4"></div>
        <div class="grid-item" id="a5"></div>
        <div class="grid-item" id="a6"></div>
        <div class="grid-item" id="a7"></div>
        <div class="grid-item" id="a8"></div>
        <div class="grid-item" id="a9"></div>
        <div class="grid-item" id="a10"></div>

        <div class="grid-item" id="b1"></div>
        <div class="grid-item" id="b2"></div>
        <div class="grid-item" id="b3"></div>
        <div class="grid-item" id="b4"></div>
        <div class="grid-item" id="b5"></div>
        <div class="grid-item" id="b6"></div>
        <div class="grid-item" id="b7"></div>
        <div class="grid-item" id="b8"></div>
        <div class="grid-item" id="b9"></div>
        <div class="grid-item" id="b10"></div>

        <div class="grid-item" id="c1"></div>
        <div class="grid-item" id="c2"></div>
        <div class="grid-item" id="c3"></div>
        <div class="grid-item" id="c4"></div>
        <div class="grid-item" id="c5"></div>
        <div class="grid-item" id="c6"></div>
        <div class="grid-item" id="c7"></div>
        <div class="grid-item" id="c8"></div>
        <div class="grid-item" id="c9"></div>
        <div class="grid-item" id="c10"></div>

        <div class="grid-item" id="d1"></div>
        <div class="grid-item" id="d2"></div>
        <div class="grid-item" id="d3"></div>
        <div class="grid-item" id="d4"></div>
        <div class="grid-item" id="d5"></div>
        <div class="grid-item" id="d6"></div>
        <div class="grid-item" id="d7"></div>
        <div class="grid-item" id="d8"></div>
        <div class="grid-item" id="d9"></div>
        <div class="grid-item" id="d10"></div>

        <div class="grid-item" id="e1"></div>
        <div class="grid-item" id="e2"></div>
        <div class="grid-item" id="e3"></div>
        <div class="grid-item" id="e4"></div>
        <div class="grid-item" id="e5"></div>
        <div class="grid-item" id="e6"></div>
        <div class="grid-item" id="e7"></div>
        <div class="grid-item" id="e8"></div>
        <div class="grid-item" id="e9"></div>
        <div class="grid-item" id="e10"></div>

        <div class="grid-item" id="f1"></div>
        <div class="grid-item" id="f2"></div>
        <div class="grid-item" id="f3"></div>
        <div class="grid-item" id="f4"></div>
        <div class="grid-item" id="f5"></div>
        <div class="grid-item" id="f6"></div>
        <div class="grid-item" id="f7"></div>
        <div class="grid-item" id="f8"></div>
        <div class="grid-item" id="f9"></div>
        <div class="grid-item" id="f10"></div>

    </div>
    <div id="submission">
        <input type="number" id="inputbox">
        <button id="submitbutton">Guess!</button>
    </div>

    <script src="js/lentilcount.js"></script>


</div>