<script>document.body.className = "bg-color";</script>
<div class="content">
   <h1>Profile</h1>
   <p>Username:</p>
   <p>Stats:</p>
   <p>Money:</p>
   <br>
   <h2>Want to change your username?</h2>
   <form method="post">
      <label for="username">New Username: </label>
      <input type="text" id="newusername" name="username">
      <label for="password2">Certify New Username: </label>
      <input type="text" id="newusername2" name="username">
      <br>
      <input type="submit" value="Change Username">
   </form>
   <br>
   <h2>Want to change your password?</h2>
   <form method="post">
      <label for="password">Password: </label>
      <input type="password" id="newpassword" name="password">
      <label for="password2">Certify New Password: </label>
      <input type="password" id="newpassword2" name="password">
      <br>
      <input type="submit" value="Change Password">
   </form>
   <a href="/login">Logout</a>
</div>
