<!NOSIDEBAR>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>cougrpets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body class="crimson_background">
    <div class="container-fluid fill center">
        <div  class="box">
            <b>Register for</b>
            <img style="height: 20%;" src="images/logo.png">

            <form>
                <label for="username">Username: </label>
                <input type="text" id="username" name="username">
                <label for="password">Password: </label>
                <input type="password" id="password" name="password">
                <label for="password2">Re-enter Password: </label>
                <input type="password" id="password2" name="password">
                <br>
                <input type="button" value="Signup!" onclick="submitRegistration()">
            </form>
            <div style="font-size: 15px; padding-top: 5px;">Already have an account? <a href="login">Login</a></div>
            <div id="msgbox"></div>
        </div>
    </div>

</body>

</html>

<script>
    msgbox = document.getElementById("msgbox")

    function notify(words)
    {
        msgbox.textContent = words
    }
    function submitRegistration()
    {
        console.log("Attempting login...");
        password = document.getElementById("password").value;
        password2 = document.getElementById("password2").value;
        username = document.getElementById("username").value;

        data = {
            password : password,
            password2: password2,
            username : username
        }
        if (!(password === password2))
        {
            notify("Passwords dont match!");
            return;
        }
        fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type':'application/json'
            }
            ,
            body: JSON.stringify(data)
        })
        .then(Response => {
            console.log(Response.status)
            if (Response.status == 200)
        { 
            window.location.href = Response.url;
            return "success";
        }
            else return Response.text();
        })
        .then(data => {
            notify(data)
        })
        .catch(error => {
            notify("Unknown server error, try again later.")
            console.log(error)
        })

        }
</script>