<script defer src="js/shopscript.js"></script>
<div class="center">
    <h1 class> Shop </h1>
    <img src="images/shopkeepbutch.png">
    <h3>What would you like to buy today?</h3>
    <button id="restock">test restock!!</button>
</div>
<div id="shop-grid">
</div>